.textColorC {
    color: #72b626;
    font-weight: 600;
}
.ButtonCustom {
    text-decoration: none;
    background-color: #72b626;
    color: white;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 4px 30px;
    border: none;
}
.ButtonCustom:hover {
    background-color: black;
    color: white;
    transition: .3s;
}
.topmargin {
    margin-top: 5.5rem;
}
