body {
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: #666;
}
h2 {
  color: #666;
}
h3 {
  color: #666;
}
h4{
  color: #666;
}
h5{
  color: #666;
}
h6 {
  color: #666;
}
p {
  color: #666;
}